<mat-card class="store-card">
  <mat-card-header>
    <mat-card-title>{{ store.name }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <span>{{ store.description }}</span>
  </mat-card-content>

  <mat-card-actions align="end">
    <span>{{ store.capacity }} panier(s)</span>
    <span class="fx-spacer"></span>
    <button mat-icon-button>
      <mat-icon>favorite_border</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
