.store-card {
  margin: 20px;
  max-width: 250px;
}

:host ::ng-deep .mat-card-header-text {
  margin: 0;
}

:host ::ng-deep .mat-card-content {
  overflow: auto;
  height: 60px;
}

.mat-card-actions {
  .fx-spacer {
    flex: 1 1 auto;
  }

  span {
    margin: 10px 0 0 10px;
  }
}
